## Stranding of sea otters

Background info:

They can live to be up to 20, years old. The majority of sea otter pups are born in early spring.
By one estimate, only 25% of pups survive their first year.
Births occur year-round, with peaks between May and June in northern populations and between January and March in southern populations.In California, sea otters usually breed every year, about twice as often as those in Alaska.

A sea otter is considered an adult at three years and older. Sub-adults are one–three years,
juveniles are six months–one year, and pups are younger than six months.

In [172]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://cosmosmagazine.com/wp-content/uploads/2020/02/190624_sea_otters_full-1440x863.jpg")

In [1]:
import pandas as pd
import altair as alt

In [2]:
strand_df = pd.read_csv('Table3_StrandedSeaOtter_byYearAndMonth_1985_2017/Table3_StrandedSeaOtter_byYearAndMonth_1985_2017.csv')

In [135]:
strand_df.Age_Class.value_counts()

Pup          33
Adult        33
Immature     33
Old Adult    33
Unknown      32
Subadult     32
Sub-adult     1
Name: Age_Class, dtype: int64

In [139]:
# Clean data, change Sub-adult to Subadult

strand_df.Age_Class = strand_df.Age_Class.apply(lambda x: "Subadult" if x == "Sub-adult" else x)

In [140]:
strand_df.Age_Class.value_counts()

Pup          33
Adult        33
Immature     33
Old Adult    33
Subadult     33
Unknown      32
Name: Age_Class, dtype: int64

In [141]:
strand_df.Year.value_counts()

2017    6
2016    6
1986    6
1987    6
1988    6
1990    6
1991    6
1992    6
1993    6
1994    6
1995    6
1996    6
1997    6
1998    6
1999    6
2000    6
2001    6
2002    6
2003    6
2004    6
2005    6
2006    6
2007    6
2008    6
2009    6
2010    6
2011    6
2012    6
2013    6
2014    6
2015    6
1985    6
1989    5
Name: Year, dtype: int64

In [5]:
strand_df.head(15)

,Year,Age_Class,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,TOTAL
0,1985,Unknown,0,0,0,0,0,0,5,2,0,0,0,0,7
1,1985,Pup,0,0,1,0,0,0,1,0,0,1,3,1,7
2,1985,Immature,0,0,0,1,0,0,1,2,2,0,0,1,7
3,1985,Sub-adult,2,0,0,1,1,0,1,2,1,2,0,1,11
4,1985,Adult,0,2,1,1,1,7,4,3,5,3,1,0,28
5,1985,Old Adult,0,2,1,1,1,1,0,0,1,4,0,1,12
6,1986,Unknown,0,0,0,0,0,0,0,1,0,2,0,0,3
7,1986,Pup,1,2,1,1,3,1,0,1,2,0,0,1,13
8,1986,Immature,0,1,1,1,1,0,1,1,3,0,1,1,11
9,1986,Subadult,0,0,0,1,1,1,3,7,1,2,0,0,16
10,1986,Adult,1,7,1,2,4,3,2,5,2,4,2,1,34
11,1986,Old Adult,0,0,1,0,0,0,0,1,0,0,0,2,4
12,1987,Unknown,0,0,0,0,0,3,2,4,1,1,0,0,11
13,1987,Pup,1,2,0,0,0,0,0,3,1,0,2,1,10
14,1987,Immature,1,1,1,0,3,1,1,1,0,1,0,1,11

### Total stranding cases each year, 1985-2017

In [142]:
total_strand = strand_df.groupby(by='Year').sum().reset_index()
total_strand

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,TOTAL,Spring,Summer,Autumn,Winter
0,1985,2,4,3,4,3,8,12,9,9,10,4,4,72,10,29,23,10
1,1986,2,10,4,5,9,5,6,16,8,8,3,5,81,18,27,19,17
2,1987,4,7,10,4,5,11,7,16,4,11,7,8,94,19,34,22,19
3,1988,5,6,12,4,8,7,5,15,6,5,10,5,88,24,27,21,16
4,1989,3,6,14,6,6,9,7,8,10,7,11,1,88,26,24,28,10
5,1990,9,16,11,7,7,9,11,9,6,9,4,5,103,25,29,19,30
6,1991,6,8,6,9,9,15,5,6,7,4,5,1,81,24,26,16,15
7,1992,8,3,7,6,6,18,14,16,14,8,5,8,113,19,48,27,19
8,1993,8,10,8,12,17,12,12,7,5,15,12,10,128,37,31,32,28
9,1994,9,13,14,18,11,11,7,16,8,8,8,10,133,43,34,24,32
10,1995,11,11,6,19,17,12,32,14,12,10,12,7,163,42,58,34,29
11,1996,3,11,11,22,16,17,34,18,18,14,5,13,182,49,69,37,27
12,1997,19,12,13,19,12,12,15,15,11,12,10,2,152,44,42,33,33
13,1998,11,13,20,29,27,31,17,15,9,10,17,14,213,76,63,36,38
14,1999,11,15,20,20,11,11,15,28,20,14,13,9,187,51,54,47,35
15,2000,6,8,18,18,11,14,18,12,19,6,17,6,153,47,44,42,20
16,2001,6,10,17,25,16,12,14,17,18,19,15,14,183,58,43,52,30
17,2002,9,14,17,22,31,11,18,15,16,11,9,8,181,70,44,36,31
18,2003,7,17,23,48,21,15,14,25,28,36,19,9,262,92,54,83,33
19,2004,16,20,18,63,26,18,25,24,23,20,13,15,281,107,67,56,51
20,2005,21,29,29,29,18,21,27,36,19,11,12,20,272,76,84,42,70
21,2006,13,14,25,35,23,18,28,28,25,26,19,13,267,83,74,70,40
22,2007,9,18,28,32,24,24,26,29,22,31,29,27,299,84,79,82,54
23,2008,16,29,28,18,25,29,15,18,18,18,9,14,237,71,62,45,59
24,2009,11,16,27,18,13,19,15,20,19,36,15,23,232,58,54,70,50
25,2010,14,18,37,44,23,16,32,29,33,25,18,16,305,104,77,76,48
26,2011,29,29,27,29,28,14,15,42,37,41,23,21,335,84,71,101,79
27,2012,38,37,33,27,29,35,34,30,30,32,14,29,368,89,99,76,104
28,2013,22,31,43,26,22,19,31,25,46,27,27,21,340,91,75,100,74
29,2014,28,26,39,28,24,22,33,41,55,42,24,24,386,91,96,121,78
30,2015,21,21,27,31,34,22,46,43,50,33,28,27,383,92,111,111,69
31,2016,19,40,48,43,57,42,63,54,27,42,16,23,474,148,159,85,82
32,2017,34,43,52,46,58,41,46,48,33,21,26,19,467,156,135,80,96

In [143]:
alt.Chart(total_strand).mark_line().encode(
    x = 'Year',
    y = 'TOTAL'
)

alt.Chart(...)

### Average stranding cases per month/ season

In [146]:
avg_month = total_strand.mean().drop('Year TOTAL Spring Summer Autumn Winter'.split()).reset_index().rename(columns={"index": "Month", 0: "Avg_Count"})
avg_month

   Month  Avg_Count
0    Jan  13.030303
1    Feb  17.121212
2    Mar  21.060606
3    Apr  23.212121
4    May  19.606061
5    Jun  17.575758
6    Jul  21.181818
7    Aug  22.545455
8    Sep  20.151515
9    Oct  18.848485
10   Nov  13.909091
11   Dec  13.060606

In [147]:
alt.Chart(avg_month).mark_bar().encode(
    x=alt.X('Month', sort=None),
    y='Avg_Count'
)

alt.Chart(...)

In [150]:
avg_season = total_strand.mean()['Spring Summer Autumn Winter'.split()].reset_index().rename(columns={"index": "Season", 0: "Avg_Count"})
avg_season

   Season  Avg_Count
0  Spring  63.878788
1  Summer  61.303030
2  Autumn  52.909091
3  Winter  43.212121

In [151]:
alt.Chart(avg_season).mark_bar().encode(
    x=alt.X('Season', sort=None),
    y='Avg_Count'
)

alt.Chart(...)

### Seasonal trend of stranding

In [152]:
strand_df['Spring']= strand_df.Mar + strand_df.Apr + strand_df.May
strand_df['Summer']= strand_df.Jun + strand_df.Jul + strand_df.Aug
strand_df['Autumn']= strand_df.Sep + strand_df.Oct + strand_df.Nov
strand_df['Winter']= strand_df.Dec + strand_df.Jan + strand_df.Feb
# seasonal_df = seasonal_df.groupby(by='Year').sum()
seasonal_df = pd.melt(strand_df, id_vars = ['Year'], value_vars = "Spring Summer Autumn Winter".split(), var_name = 'Season', value_name = 'Count')
seasonal_df = seasonal_df.groupby(by=['Year','Season']).sum().reset_index()
seasonal_df

     Year  Season  Count
0    1985  Autumn     23
1    1985  Spring     10
2    1985  Summer     29
3    1985  Winter     10
4    1986  Autumn     19
..    ...     ...    ...
127  2016  Winter     82
128  2017  Autumn     80
129  2017  Spring    156
130  2017  Summer    135
131  2017  Winter     96

[132 rows x 3 columns]

In [169]:
alt.Chart(seasonal_df).mark_line().encode(
    x='Year',
    y='Count',
    color = 'Season'
)

alt.Chart(...)

In [154]:
strand_df

,Year,Age_Class,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,TOTAL,Spring,Summer,Autumn,Winter
0,1985,Unknown,0,0,0,0,0,0,5,2,0,0,0,0,7,0,7,0,0
1,1985,Pup,0,0,1,0,0,0,1,0,0,1,3,1,7,1,1,4,1
2,1985,Immature,0,0,0,1,0,0,1,2,2,0,0,1,7,1,3,2,1
3,1985,Subadult,2,0,0,1,1,0,1,2,1,2,0,1,11,2,3,3,3
4,1985,Adult,0,2,1,1,1,7,4,3,5,3,1,0,28,3,14,9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2017,Pup,6,8,9,7,12,0,0,3,2,2,2,3,54,28,3,6,17
193,2017,Immature,4,5,5,8,7,6,8,8,4,2,2,4,63,20,22,8,13
194,2017,Subadult,5,8,13,9,11,10,10,10,8,9,11,5,109,33,30,28,18
195,2017,Adult,17,19,21,18,24,20,24,25,18,8,9,7,210,63,69,35,43
196,2017,Old Adult,1,2,4,4,4,5,4,2,1,0,2,0,29,12,11,3,3

In [155]:
strand_df.mean()

Year      2001.060914
Jan          2.182741
Feb          2.868020
Mar          3.527919
Apr          3.888325
May          3.284264
Jun          2.944162
Jul          3.548223
Aug          3.776650
Sep          3.375635
Oct          3.157360
Nov          2.329949
Dec          2.187817
TOTAL       37.071066
Spring      10.700508
Summer      10.269036
Autumn       8.862944
Winter       7.238579
dtype: float64

In [157]:
age_seasonal_df = pd.melt(strand_df, id_vars = ['Age_Class'], value_vars = "Spring Summer Autumn Winter".split(), var_name = 'Season', value_name = 'Count')
age_seasonal_df = age_seasonal_df.groupby(by=['Season', 'Age_Class']).sum().reset_index()
age_seasonal_df

    Season  Age_Class  Count
0   Autumn      Adult    853
1   Autumn   Immature    189
2   Autumn  Old Adult    175
3   Autumn        Pup    165
4   Autumn   Subadult    310
5   Autumn    Unknown     54
6   Spring      Adult    787
7   Spring   Immature    361
8   Spring  Old Adult    239
9   Spring        Pup    419
10  Spring   Subadult    284
11  Spring    Unknown     18
12  Summer      Adult    906
13  Summer   Immature    252
14  Summer  Old Adult    233
15  Summer        Pup    224
16  Summer   Subadult    352
17  Summer    Unknown     56
18  Winter      Adult    577
19  Winter   Immature    163
20  Winter  Old Adult    164
21  Winter        Pup    269
22  Winter   Subadult    217
23  Winter    Unknown     36

In [171]:
alt.Chart(age_seasonal_df).mark_bar().encode(
    color='Season',
    x=alt.X('Age_Class', sort=['Pup', 'Immature', 'Subadult', 'Adult', 'Old Adult', 'Unknown']),
    y='Count',
).properties(width=220)

alt.Chart(...)